.tabs-container {
  font-size: var(--primary-size);
  font-family: var(--primary-font);
  width: 100%;
  min-height: 70vh;
  margin-top: 24px;
  background-color: var(--thirty-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.my-service {
  margin: 24px;
}

.tabs-wrapper {
  padding: 24px;
  margin: 24px 0;
  display: flex;
  width: 90%;
  height: auto;
  background-color: var(--thirty-color);
  box-shadow: 0 2px 4px var(--secondary-color);
  flex-direction: column;
}

.tab-item {
  font-weight: bold;
  flex-grow: 1;
  flex-basis: 25%;
  padding: 8px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.tab-image {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--thirty-color);
  transition: opacity 0.5s ease;
}

.tab-item.active {
  background-color: var(--secondary-color);
  color: var(--thirty-color);
}

.tabs-title {
  display: flex;
  margin: 12px 0;
}

.tabs-services {
  display: flex;
  gap: 12px;
}

.tab-content {
  width: 50%;
}

.tab-image {
  width: 50%;
}

.tab-info {
  margin: 12px 0;
}

.tab-info-name {
  font-weight: bold;
}

@media (max-width: 768px) {
  .tabs-container{
    min-height: 30vh;
  }
}

@media (max-width: 480px) {
  .tabs-services {
    flex-direction: column;
  }

  .tab-content {
    width: 100%;
  }

  .tab-image {
    width: 100%;
  }

  .tabs-title {
    margin: 6px 0;
  }
}

@media (min-width: 1980px) {
  .tab-image-item img {
    min-width: 40%;
    min-height: 40vh;
  }

  .tab-items {
    font-size: 46px;
    width: 50%;
    padding: 16px;
  }
}
