.button {
  padding: 12px 26px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: none;
  text-decoration: none;
  font-size: 16px;
  font-weight: 900;
  outline: none;
  transition: 0.3s;
}

.button:hover,
.button:focus {
  color: var(--thirty-color);
  background-color: var(--secondary-color);
}

.button:active {
  background-color: grey;
  transform: scale(0.9);
}

.button-close {
  position: fixed;
  padding: 12px 26px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: none;
  text-decoration: none;
  font-size: 16px;
  font-weight: 900;
  transition: transform 0.4s;
  top: 1em;
  right: 1em;
  z-index: 5;
  transition: 0.3s;
}

.button-close:hover,
.button-close:focus {
  transform: scale(0.9);
}
