.footer {
  font-family: var(--secondary-font);
  font-size: var(--primary-size);
  border-top: 2px solid var(--primary-color);
  color: var(--thirty-color);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding-top: 2em;
  background-color: var(--secondary-color);
  padding-bottom: 18px;
  position: relative;
}

.contact {
  padding-left: 0;
  list-style: none;
  text-align: left;
}

.social-networks {
  padding-left: 0;
  text-align: left;
  list-style: none;
}

.contact a,
.social-networks a {
  color: var(--thirty-color);
  text-decoration: none;
  transition: 0.3s;
}

.contact li {
  margin-bottom: 5px;
  padding-top: 2px;
}

.social-networks li {
  margin-bottom: 5px;
}

.icon {
  margin-right: 5px;
  position: relative;
  bottom: 2px;
}

.contact-title {
  display: block;
  margin-bottom: 10px;
  font-weight: 500;
}

.contact a:focus,
.social-networks a:focus,
.contact a:hover,
.social-networks a:hover,
.icon-wrapper:hover .iconify {
  color: var(--primary-color);
}

.footer::after {
  content: "";
  display: flex;
  justify-content: space-around;
  width: 90%;
  height: 2px;
  background-color: var(--thirty-color);
  position: absolute;
  bottom: 46px;
  left: 5%;
}

.footer-text {
  width: 100%;
  text-align: center;
  margin-top: 18px;
  background-color: var(--sedondary-color);
}

@media (max-width: 767px) {
  .contact {
    list-style: none;
    text-align: center;
  }

  .social-networks {
    text-align: center;
    list-style: none;
  }
}

@media (min-width: 1980px) {
  .footer {
    font-size: 50px;
  }

  .footer::after {
    bottom: 100px;
  }

  .contact-title {
    font-size: var(--secondary-font);
  }
}
