html, body {
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont,'Roboto','Arial' 'Segoe UI', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root{
  --primary-color: #fbd2c0;
  --secondary-color: #000000;
  --thirty-color:#ffffff;
  --primary-font: 'Roboto', sans-serif;
  --secondary-font: 'Satisfy', cursive;
  --primary-size:16px;
  --secondary-size: 24px;
  --thirty-size: 60px;
  font-family:'Roboto', sans-serif ;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
main{
  flex:1 0 auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@media (min-width: 1980px) {
  #root{
  --primary-size:24px;
  --secondary-size: 32px;
  --thirty-size: 90px;
}
}

@media (max-width: 767px) {
  #root{
  --primary-size:10px;
  --secondary-size: 14px;
  --thirty-size: 24px;
}
}