.slider-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  z-index: 5;
  cursor: pointer;
}

.carousel-item img {
  height: auto;
  display: block;
  margin: 0 auto;
  cursor:auto;
}

.slider-close-button{
  z-index: 1;
}

@media (min-width: 1980px){
  .slider-container {
  min-width: 50vw;
  }

  .carousel-item img {
  min-width: 50vw;
  }

  .slider-container .carousel-indicators button {
    width: 50px;
    height: 15px;
  }
  
  .slider-container .carousel-control-prev-icon,
  .slider-container .carousel-control-next-icon {
    width: 100px;
    height: 100px;
  }
}

@media (max-width: 767px){
  .carousel-item img {
  max-width: 70vw;
}
}